.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.plat {
  padding: 1em 1em 0.8em 1em;
}

.list-item-plats {
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  /* Début animation list-item-plats */
  animation: fadeIn 1.5s forwards;
  @for $i from 1 to 11 {
    &--#{$i} {
      animation-delay: calc((1000ms / 11) * $i);
    }
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(2em);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  & .prix {
    display: flex;
    align-items: flex-end;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: $aqua-tertiaire;
      border-radius: 0 1em 1em 0;
      height: 100%;
      width: 4em;
      margin-left: 1em;
      position: absolute;
      overflow: hidden;
      right: -4em;

      & i {
        font-size: 1.5em;
      }
    }

    & strong {
      font-weight: 700;
      font-size: small;
      padding-bottom: 0.8em;
      width: 80px;
      text-align: center;
    }
  }
}

.list-item-plats:hover {
  cursor: pointer;
  & span {
    animation: check 1s both;
  }

  & strong {
    animation: check 1s both;
  }
}

@keyframes check {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-4em);
  }
}

/* Fin animation list-item-plats*/

.btn {
  padding: 1em 1.5em;
  color: $txt-fond-sombre;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &--gradient {
    background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
  }

  &--radius {
    border-radius: 2em;
  }

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.loader {
  display: flex;
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  /* Début animation loader */
  animation: 1s fadeOut 3.4s ease forwards;
}
/* Fin animation loader */

.lettre {
  color: #fff;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1s linear infinite;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 30px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes flash {
  0% {
    color: $rose-secondaire;
    text-shadow: 0 0 7px $rose-secondaire;
  }
  85% {
    color: $violet-primaire;
    text-shadow: none;
  }
  100% {
    color: $rose-secondaire;
    text-shadow: 0 0 7px $rose-secondaire;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}
