%grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

%grid-start {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
