@import "_variables";
@import "_mixins";
@import "_placeholders";
@import "_components";

@import "layout/header";
@import "layout/footer";

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

main {
  font-family: "Roboto", sans-serif;

  /* Debut section localisation */
  & .localisation {
    @extend %grid-center;
    display: grid;
    padding: 1em 1em 1em 3em;
    background: #eaeaea;
    background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgba(234, 234, 234, 1) 100%);

    & i {
      padding: 0 1em 0 0;
    }

    & input {
      background: #eaeaea;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: black;
        font-weight: 700;
      }
    }
  }

  /* Fin section localisation */

  /* Debut section presentation */
  & .presentation {
    @extend %grid-center;
    @include grid-template-set(1);
    padding: 2em 0 3em;
    background: $gris-clair;
    text-align: center;

    & h2 {
      padding: 0 2.3em;
      font-size: 1.5em;
    }

    & p {
      padding: 1em 2em 2em;
    }
  }

  /* Fin section presentation */

  /* Debut section commentCaMarche */
  & .commentCaMarche {
    @extend %grid-center;
    @include grid-template-set(1);
    padding: 3em 1em;
    margin-bottom: 2.5em;

    & h2 {
      @include grid-pos-set(1, auto, 1, 2);
      justify-self: start;
    }

    & ol {
      @include grid-pos-set(2, auto, 1, 4);
      display: grid;
      @include grid-template-set($commentCaMarche);
      grid-gap: 2em;
      margin: 1em 1em 0;
      counter-reset: countsection;
      justify-self: normal;

      @media screen and (max-width: $breakpoint-tablette) {
        @include grid-template-set(1);
      }

      @media screen and (max-width: $breakpoint-mobile) {
        @include grid-template-set(1);
      }

      & li::before {
        counter-increment: countsection;
        content: counter(countsection);
        position: relative;
        left: -1.9em;
        padding: 0.3em 0.6em;
        background-color: $violet-primaire;
        border-radius: 70%;
        color: $txt-fond-sombre;
      }

      & li:hover {
        background-color: lighten($violet-primaire, 35%);
        cursor: pointer;

        & i {
          color: $violet-primaire;
        }
      }

      & p {
        display: inline-block;
        position: relative;
        left: -0.7em;
      }

      & i {
        padding: 0 1.1em 0 0;
      }
    }
  }

  /* Fin section commentCaMarche */

  /* Début de section restaurants */
  & .restaurants {
    background: $gris-clair;
    @extend %grid-center;
    @include grid-template-set(1);
    padding: 3em 1em;

    & h2 {
      @include grid-pos-set(1, auto, 1, 2);
      justify-self: start;
      margin-bottom: 1em;
    }

    & ul {
      @include grid-pos-set(2, auto, 1, 2);
      display: grid;
      @include grid-template-set(4);
      grid-gap: 2em;
      justify-self: normal;
      margin: 1em 0;

      @media screen and (max-width: $breakpoint-mobile) {
        @include grid-template-set(1);
      }

      @media screen and (max-width: $breakpoint-tablette) {
        @include grid-template-set(1);
      }

      & li {
        display: inline-block;
        width: 100%;

        & a {
          display: block;
          position: relative;
          padding: 0 0 0.7rem 0;
          color: $txt-fond-clair;
          border-radius: 1.5em;
          box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

          & .sticker {
            position: absolute;
            right: 1em;
            top: 1em;
            padding: 0.4em 0.6em;
            color: $txt-fond-vert;
            background: $vert-clair;
            border-radius: 0.2em;
          }

          & img {
            height: 12.5em;
            width: 100%;
            object-fit: cover;
            border-radius: 1em 1em 0 0;
            margin-bottom: 0.5em;
          }

          & h3,
          p {
            padding: 0 1rem 0.3rem;
          }

          & .btn__like {
            position: absolute;
            height: 9px;
            width: 30px;
            bottom: 1.8em;
            right: 1.5rem;
            font-size: 1.5em;
            cursor: pointer;

            .fa-heart {
              position: absolute;
              top: 0;
              right: 0;
            }

            .far {
              opacity: 1;
              transition: 0.5s;
              z-index: 0;
            }

            .fas {
              opacity: 1;
              transition: 1.2s;
              background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              height: 0;
            }

            &:hover .fas {
              opacity: 1;
              height: 30px;
            }

            &:hover .far {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  /* Fin de section resturants */

  /* Début de section menuDuResto */
  & .menuDuResto {
    @extend %grid-center;
    @include grid-template-set(1);
    padding: 0 0 3em;
    justify-items: normal;
    background: #f6f6f6;

    & .commander {
      padding: 5em 0 4em;

      & a {
        padding: 1em 3em;
        font-size: 1.3em;
      }
    }

    @media screen and (min-width: $breakpoint-tablette) {
      @include grid-template-set(2);

      & img {
        height: 100%;
        top: -2.5em;
        position: relative;
        border-radius: 1em;
      }

      & .commander {
        padding: 5em 0 4em;

        & a {
          padding: 1em 3em;
          font-size: 1.3em;
        }
      }
    }

    &__cover {
      margin: 0 0 -5em 0;
      width: 100%;
      height: 18em;
      object-fit: cover;
    }

    &__carte {
      padding: 2em 1em 0;
      background: #f6f6f6;
      border-radius: 3em 3em 0 0;
      display: flex;
      flex-direction: column;

      & h2 {
        font-family: "Shrikhand", cursive;
      }

      & .h2-heart {
        display: flex;
        justify-content: space-between;
      }

      & .btn__like {
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
        margin-right: 1em;

        .fa-heart {
          position: absolute;
          top: 0;
          right: 0;
        }

        .far {
          opacity: 1;
          transition: 0.5s;
          z-index: 0;
        }

        .fas {
          opacity: 1;
          transition: 1.2s;
          background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          height: 0;
        }

        &:hover .fas {
          opacity: 1;
          height: 30px;
        }

        &:hover .far {
          opacity: 1;
        }
      }

      & h3 {
        font-weight: 100;
        font-size: medium;
        width: 11%;
        border-bottom: solid 3px $vert-clair;
        padding-bottom: 0.2em;
        margin: 2em 0 1.2em;
      }

      & ul {
        display: grid;
        grid-gap: 1.2em;
      }

      & li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.prix {
        }

        &.plat {
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }

        & h4 {
          margin-bottom: 0.15em;
        }

        & p,
        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  /* Fin de section menuDuResto*/
}
