header {
  @extend %grid-center;
  @include grid-template-set(1);
  padding: 1em;

  & img {
    height: 2em;
    width: 11em;
  }

  & h1 {
    @include grid-pos-set(1, auto, 1, auto);
    font-family: "Shrikhand", cursive;
  }

  & .btn__retourHome {
    @include grid-pos-set(1, auto, 1, auto);
    justify-self: start;
  }

  & i {
    font-size: large;
  }
}
