@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
main .menuDuResto a, main .menuDuResto, main .restaurants, main .commentCaMarche, main .presentation, main .localisation, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

footer {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.list-item-plats {
  padding: 1em 1em 0.8em 1em;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.prix {
  display: flex;
  align-items: flex-end;
}
.prix strong {
  font-weight: 700;
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loader {
  display: flex;
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: 1s fadeOut 3.4s ease forwards;
}

.lettre {
  color: #fff;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1s linear infinite;
}
@media screen and (max-width: 480px) {
  .lettre {
    font-size: 30px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  85% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}
header img {
  height: 2em;
  width: 11em;
}
header h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: "Shrikhand", cursive;
}
header .btn__retourHome {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  justify-self: start;
}
header i {
  font-size: large;
}

footer {
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5em;
  color: #ffffff;
  background: #353535;
  font-family: "Roboto", sans-serif;
}
footer h2 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  margin: 0 0 1.5rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  font-weight: normal;
  justify-self: start;
}
footer ul {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
}
footer ul li {
  margin: 0 0 0.5rem 0;
}
footer a {
  color: #ffffff;
}
footer a .fa-utensils {
  padding: 0 1rem 0 0;
}
footer a .fa-handshake-angle {
  padding: 0 0.65rem 0 0;
}

main {
  font-family: "Roboto", sans-serif;
  /* Debut section localisation */
  /* Fin section localisation */
  /* Debut section presentation */
  /* Fin section presentation */
  /* Debut section commentCaMarche */
  /* Fin section commentCaMarche */
  /* Début de section restaurants */
  /* Fin de section resturants */
  /* Début de section menuDuResto */
  /* Fin de section menuDuResto*/
}
main .localisation {
  display: grid;
  padding: 1em 1em 1em 3em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgb(234, 234, 234) 100%);
}
main .localisation i {
  padding: 0 1em 0 0;
}
main .localisation input {
  background: #eaeaea;
  border: none;
}
main .localisation input:focus {
  outline: none;
}
main .localisation input::placeholder {
  color: black;
  font-weight: 700;
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 2.3em;
  font-size: 1.5em;
}
main .presentation p {
  padding: 1em 2em 2em;
}
main .commentCaMarche {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  margin-bottom: 2.5em;
}
main .commentCaMarche h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .commentCaMarche ol {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 1em 1em 0;
  counter-reset: countsection;
  justify-self: normal;
}
@media screen and (max-width: 960px) {
  main .commentCaMarche ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
  main .commentCaMarche ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .commentCaMarche ol li::before {
  counter-increment: countsection;
  content: counter(countsection);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  background-color: #9356dc;
  border-radius: 70%;
  color: #ffffff;
}
main .commentCaMarche ol li:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
main .commentCaMarche ol li:hover i {
  color: #9356dc;
}
main .commentCaMarche ol p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}
main .commentCaMarche ol i {
  padding: 0 1.1em 0 0;
}
main .restaurants {
  background: #f6f6f6;
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
main .restaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
  margin-bottom: 1em;
}
main .restaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-self: normal;
  margin: 1em 0;
}
@media screen and (max-width: 480px) {
  main .restaurants ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 960px) {
  main .restaurants ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .restaurants ul li {
  display: inline-block;
  width: 100%;
}
main .restaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
main .restaurants ul li a .sticker {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.4em 0.6em;
  color: #008766;
  background: #99e2d0;
  border-radius: 0.2em;
}
main .restaurants ul li a img {
  height: 12.5em;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  margin-bottom: 0.5em;
}
main .restaurants ul li a h3,
main .restaurants ul li a p {
  padding: 0 1rem 0.3rem;
}
main .restaurants ul li a .btn__like {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 1.2em;
  right: 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
}
main .restaurants ul li a .btn__like .fa-heart {
  position: absolute;
  top: 0;
  right: 0;
}
main .restaurants ul li a .btn__like .far {
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
main .restaurants ul li a .btn__like .fas {
  opacity: 1;
  transition: 1.2s;
  background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 0;
}
main .restaurants ul li a .btn__like:hover .fas {
  opacity: 1;
  height: 30px;
}
main .restaurants ul li a .btn__like:hover .far {
  opacity: 1;
}
main .menuDuResto {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-items: normal;
  background: #f6f6f6;
}
main .menuDuResto a {
  margin: 3em 5em 2.5em 5em;
  justify-content: center;
}
main .menuDuResto__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 18em;
  object-fit: cover;
}
main .menuDuResto__carte {
  padding: 2em 1em 0;
  background: #f6f6f6;
  border-radius: 3em 3em 0 0;
}
main .menuDuResto__carte h2 {
  font-family: "Shrikhand", cursive;
}
main .menuDuResto__carte .btn__like {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 28.6em;
  right: 2.5rem;
  font-size: 1.5em;
  cursor: pointer;
}
main .menuDuResto__carte .btn__like .fa-heart {
  position: absolute;
  top: 0;
  right: 0;
}
main .menuDuResto__carte .btn__like .far {
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
main .menuDuResto__carte .btn__like .fas {
  opacity: 1;
  transition: 1.2s;
  background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 0;
}
main .menuDuResto__carte .btn__like:hover .fas {
  opacity: 1;
  height: 30px;
}
main .menuDuResto__carte .btn__like:hover .far {
  opacity: 1;
}
main .menuDuResto__carte h3 {
  font-weight: 100;
  font-size: medium;
  width: 11%;
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 0.2em;
  margin: 2em 0 1.2em;
}
main .menuDuResto__carte ul {
  display: grid;
  grid-gap: 1.2em;
}
main .menuDuResto__carte li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .menuDuResto__carte li.plat {
  display: flex;
  flex-direction: column;
}
main .menuDuResto__carte li h4 {
  margin-bottom: 0.15em;
}
